{
  "presets": ["next/babel"],
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "bash",
          "clike",
          "css",
          "go",
          "javascript",
          "markup",
          "python",
          "rust"
        ]
        // "plugins": ["copy-to-clipboard", "toolbar"]
      }
    ]
  ]
}
